<html>
    <title>Image Crosslines</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <head>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="\">Image Crosslines</a>
        </nav>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Image Crosslines</h1>
                <p>To start using, type in the first text box the size of the sqares and then upload the file.</p>
                <p>X is for length and Y is for height.</p>
                {% with messages = get_flashed_messages(with_categories = True) %}
                    {% if messages %}
                        <ul>
                            {% for message in message %}
                                <li>{{ message[1] }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <form action="" method="POST">
                    {{ form.csrf }}
                    <div class="input text">
                        {{ form.xsize.label }} {{ form.xsize }} <br>
                        {{ form.ysize.label }} {{ form.ysize }} <br>
                        {{ form.filename.label }} {{ form.filename }} <br>
                    </div>
                    <div class="input submit">
                        <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>